<!DOCTYPE html>
<html>
  <head>
<meta charset="utf-8">
<title>Artivatic | Bangalore</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/todc-bootstrap/3.3.7-3.3.13/css/bootstrap.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/todc-bootstrap/3.3.7-3.3.13/css/bootstrap-theme.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

  </head>
  <body>
<nav class="navbar navbar-default">
    <div class="container-fluid" style="background-color:#000000;
      color:#fff;height:80px;">
      <h2>Email Service</h2>

    </div>
  </nav>


{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  </ul>
{% endif %}


<style>
  .container{
    margin-bottom: 75px;
  }

</style>


  <div class="container" style="padding-top: 5px">
    {% block content %}
    {% endblock %}

    {% block style %}
    {% endblock %}

    {% block jumbotron %}
    {% endblock %}
</div>

{% block script %}
{% endblock %}

  </body>
</html>
